/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a:focus, button:focus {
  outline: none;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a:focus-visible {
  outline: 1px solid var(--text-color);
}

a:hover {
  border-block-end: 1px solid var(--text-color);
}

button:disabled {
  pointer-events: none;
}

button:focus-visible {
  border-block-end: 1px solid var(--accent-color-decoration);
}

button:hover {
  outline: 1px solid var(--accent-color-decoration);
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  padding-inline: 10px;
  padding-block: 10px;
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-start: 1px solid var(--accent-color-decoration);
  border-block-end: 1px solid var(--accent-color-decoration);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-end: 1px solid var(--accent-color-decoration);
  border-block-start: 1px solid var(--accent-color-decoration);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.header__rec {
  position: absolute;
  block-size: 26px;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  font-family: var(--main-font, sans-serif);
  font-size: var(--text-size);
  font-weight: 400;
  line-height: var(--rec-height);
  text-align: center;
  color: var(--accent-color-rec);
}

.header__rec::after {
  content:"";
  position: absolute;
  background-color: var(--accent-color-rec);
  block-size: 9px;
  inline-size: 9px;
  inset-block-start: 9px;
  inset-inline-start: 43px;
  border-radius: 100%;
}

.header__title {
  font-family: var(--main-font, sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_undertitle {
  align-self: center;
}

.title-decor {
  font-family: var(--main-font, sans-serif);
  font-size: var(--text-size);
  font-weight: 700;
  padding-inline-start: 1px;
  line-height: var(--text-height);
  color: var(--bg-color, #000028);
  background-color: var(--accent-color);
}

.title-decor-regular {
  font-family: var(--main-font, sans-serif);
  font-size: var(--text-size);
  font-weight: 400;
  padding-inline-start: 1px;
  line-height: var(--text-height);
  color: var(--bg-color, #000028);
  background-color: var(--accent-color);
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-items: center;
  list-style: none;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  block-size: 26px;
  inline-size: 70px;
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  font-family: inherit;
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
  color: var(--accent-color-decoration);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color-decoration);
}

@media (width >= 768px) {
  .header {
    padding-inline: 20px;
    padding-block: 20px;
}
  .header::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
}
.header::after {
  inset-block-start: 20px;
  inset-inline-end: 20px;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
}

.header__rec {
  inset-block-start: 20px;
  inset-inline-end: 48px;
}

.header_undertitle {
  align-self: center;
  justify-self: end;
  max-inline-size: calc(50vw - 20px);
}
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-content: center;
    align-items: start;
    list-style: none;
  }
  .header__theme-menu-list {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
  }
}

.content {
  padding-inline: 10px;
  padding-block: 40px;
}

.content__why {
  display: grid;
  gap: 20px;
}

.content__title {
  font-family: var(--main-font, sans-serif);
  font-size: var(--text-size);
  font-weight: 700;
  line-height: var(--text-height);
  text-align: left;
  color: var(--accent-color-decoration);
}

.content__cards {
  display: grid;
  gap: 20px;
}

.content__text {
  font-family: var(--main-font, sans-serif);
  font-size: var(--text-size);
  font-weight: 400;
  line-height: var(--text-height);
  text-align: left;
  color: var(--text-color);
  padding-block-start: 10px;
}

.content__what {
  padding-block-start: 50px;
  display: grid;
  gap: 20px;
}

.content__how {
  padding-block-start: 50px;
  display: grid;
  gap: 20px;
}

.content__pictures {
  padding-block-start: 50px;
  display: grid;
}

.content__pictures__list {
  padding-block-start: 10px;
  display: grid;
  gap: 10px;
}

.content__picture {
  inline-size: 100%;
}

@media (width >= 768px) {
  .content {
    padding-inline: 20px;
    padding-block: 60px;
  }

  .content__why {
    grid-template-columns: 1fr 2fr;
  }

  .content__what {
    padding-block-start: 80px;
  }

  .content__what .content__title {
    max-inline-size: calc(1/3 * 100vw - 20px);
  }

  .content__how {
    padding-block-start: 80px;
    grid-template-columns: 1fr 2fr;
  }

  .content__pictures {
    padding-block-start: 80px;
  }

  .content__pictures__list {
    padding-block-start: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(229px, 100vw));
  }
  
  .content__picture {
   block-size: 100%;
   inline-size: 100%;
   object-fit: cover;
  } 

  .picture__sunset {
    grid-column: 1 / 3;
  }

  .picture__ice-cream {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    object-fit: cover;
  }

  .picture__tape {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .picture__street {
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {
  .content__what .content__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer {
  padding-inline: 10px;
  position: relative;
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: var(--main-font, sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-start: 1px solid var(--accent-color-decoration);
  border-block-end: 1px solid var(--accent-color-decoration);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.footer::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-end: 1px solid var(--accent-color-decoration);
  border-block-start: 1px solid var(--accent-color-decoration);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

@media (width >= 768px) {
  .footer {
    padding-inline: 20px;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
  .footer::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .footer::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
}


