/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color-rec: #ff0070;
  --accent-color-decoration: #ff0070;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --main-font: 'IBM Plex mono';
  --text-size: 18px;
  --text-height: 23.4px;
  --button-height: 18px;
  --rec-height: 25px;
  --pd-text-top: 10px;
  --pd-text-bottom: 20px;
  --pd-title-bottom: 20px;
}

